body {
    text-align: center;
}

main {
    width: 100%;
}

#container {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

#flower {
    display: flex;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
}

#facts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#facts p {
    width: 150px;
    background-color: rgb(72, 192, 72);
    color: white;
    border-radius: 15px;
    font-size: 80%;
    padding: 10px;
    margin: 10px 20px;
    visibility: hidden;
}

#summary {
    width: 50%;
    margin: 30px auto;
}